setuptools
tqdm
flask
flask-sock
flask-cors
python-dotenv
keybert
sentence_transformers
ollama
llama_index
llama_cpp_python
faiss_cpu
unstructured
nltk
langchain
langchain_community
langchain_huggingface
langchain_ollama
langchain_openai
langgraph
ctransformers
pymupdf
torch==2.3.0
